<div class='app'>
  <main class='project'>
    <div class='project-info'>
      <h1>{{ projectName }} - Dashboard</h1>
      <div class='project-participants'>
        <button class='project-participants__add' (click)="showForm = true"></button>
      </div>
    </div>
    <div class="project-tasks">
      <div class="project-column">
        <div class="project-column-heading">
          <h2 class="project-column-heading__title">To Do</h2>
          <button class="project-column-heading__options">
            <i class="fas fa-ellipsis-h"></i>
          </button>
        </div>
        <div class="task" *ngFor="let task of todoTasks">
          <div class="task__tags">
            <span [ngClass]="getTagClass(task.department)" class="task__tag">{{ task.department }}</span>
            <button class="task__options" (click)="openForm(task)">
              <i class="fas fa-ellipsis-h"></i>
            </button>
          </div>
          <p>{{ task.taskName }}</p>
          <div class="task__stats">
            <span>
              <time [attr.datetime]="task.endDate"><i class="fas fa-flag"></i>{{ task.endDate }}</time>
            </span>
            <span><i class="fas fa-comment"></i>0</span>
            <span><i class="fas fa-paperclip"></i>0</span>
            <span class="task__owner"><img [src]="task.memberAvatar"></span>
          </div>
        </div>
      </div>
      <div class="project-column">
        <div class="project-column-heading">
          <h2 class="project-column-heading__title">In Progress</h2>
          <button class="project-column-heading__options">
            <i class="fas fa-ellipsis-h"></i>
          </button>
        </div>
        <div class="task" *ngFor="let task of progressTasks">
          <div class="task__tags">
            <span [ngClass]="getTagClass(task.department)" class="task__tag">{{ task.department }}</span>
            <button class="task__options" (click)="openForm(task)">
              <i class="fas fa-ellipsis-h"></i>
            </button>
          </div>
          <p>{{ task.taskName }}</p>
          <div class="task__stats">
            <span>
              <time [attr.datetime]="task.endDate"><i class="fas fa-flag"></i>{{ task.endDate }}</time>
            </span>
            <span><i class="fas fa-comment"></i>0</span>
            <span><i class="fas fa-paperclip"></i>0</span>
            <span class="task__owner"><img [src]="task.memberAvatar"></span>
          </div>
        </div>
      </div>
      <div class="project-column">
        <div class="project-column-heading">
          <h2 class="project-column-heading__title">Needs Review</h2>
          <button class="project-column-heading__options">
            <i class="fas fa-ellipsis-h"></i>
          </button>
        </div>
        <div class="task" *ngFor="let task of reviewTasks">
          <div class="task__tags">
            <span [ngClass]="getTagClass(task.department)" class="task__tag">{{ task.department }}</span>
            <button class="task__options" (click)="openForm(task)">
              <i class="fas fa-ellipsis-h"></i>
            </button>
          </div>
          <p>{{ task.taskName }}</p>
          <div class="task__stats">
            <span>
              <time [attr.datetime]="task.endDate"><i class="fas fa-flag"></i>{{ task.endDate }}</time>
            </span>
            <span><i class="fas fa-comment"></i>0</span>
        <span><i class="fas fa-paperclip"></i>0</span>
        <span class="task__owner"><img [src]="task.memberAvatar"></span>
      </div>
    </div>
  </div>
  <div class="project-column">
    <div class="project-column-heading">
      <h2 class="project-column-heading__title">Completed</h2>
      <button class="project-column-heading__options">
        <i class="fas fa-ellipsis-h"></i>
      </button>
    </div>
    <div class="task" *ngFor="let task of doneTasks">
      <div class="task__tags">
        <span [ngClass]="getTagClass(task.department)" class="task__tag">{{ task.department }}</span>
        <button class="task__options" (click)="openForm(task)">
          <i class="fas fa-ellipsis-h"></i>
        </button>
      </div>
      <p>{{ task.taskName }}</p>
      <div class="task__stats">
        <span>
          <time [attr.datetime]="task.endDate"><i class="fas fa-flag"></i>{{ task.endDate }}</time>
        </span>
        <span><i class="fas fa-comment"></i>0</span>
        <span><i class="fas fa-paperclip"></i>0</span>
        <span class="task__owner"><img [src]="task.memberAvatar"></span>
      </div>
    </div>
  </div>
</div>
  </main>
  <aside class="task-details">
    <div class="tag-progress">
      <h2>Task Progress</h2>
      <div class="tag-progress">
        <p>Développement <span>{{ devProgress }}%</span></p>
        <progress class="progress progress--developpement" max="100" [value]="devProgress"></progress>
      </div>
      <div class="tag-progress">
        <p>Marketing <span>{{ marketingProgress }}%</span></p>
        <progress class="progress progress--marketing" max="100" [value]="marketingProgress"></progress>
      </div>
      <div class="tag-progress">
        <p>Création <span>{{ creationProgress }}%</span></p>
        <progress class="progress progress--creation" max="100" [value]="creationProgress"></progress>
      </div>
    </div>
  </aside>
</div>

<div class="update-form" *ngIf="updateFormVisible">
  <form #updateForm="ngForm" (ngSubmit)="onUpdate(updateForm)">
    <label>
      Nom du projet:
      <input type="text" [(ngModel)]="projectName" name="projectName" required readonly>
    </label>
    <label>
      Nom de la tâche:
      <input type="text" [ngModel]="selectedTask.taskName" (ngModelChange)="selectedTask && (selectedTask.taskName = $event)" name="taskName" required>
    </label>
    <label>
      Status de la tâche:
      <select [ngModel]="selectedTask.taskStatus" (ngModelChange)="selectedTask && (selectedTask.taskStatus = $event)" name="taskStatus" required>
        <option value="todo">Todo</option>
        <option value="progress">Progress</option>
        <option value="review">Review</option>
        <option value="done">Done</option>
      </select>
    </label>
    <label>
      Département:
      <select [ngModel]="selectedTask.department" (ngModelChange)="selectedTask && (selectedTask.department = $event)" name="department" required>
        <option value="Développement">Développement</option>
        <option value="Marketing">Marketing</option>
        <option value="Création">Création</option>
      </select>
    </label>
    <button type="submit">Update Task</button>
  </form>
</div>

<div class="create-form" *ngIf="showForm">
  <form #createForm="ngForm" (ngSubmit)="onCreate(createForm)">
    <label>
      Nom du projet:
      <input type="text" [(ngModel)]="projectName" name="projectName" required readonly>
    </label>
    <label>
      Nom de la tâche:
      <input type="text" [(ngModel)]="newTask.taskName" name="taskName" required>
    </label>
    <label>
      Statut de la tâche:
      <select [(ngModel)]="newTask.taskStatus" name="taskStatus" required>
        <option value="todo">Todo</option>
        <option value="progress">Progress</option>
        <option value="review">Review</option>
        <option value="done">Done</option>
      </select>
    </label>
    <label>
      Département:
      <select [(ngModel)]="newTask.department" name="department" required>
        <option value="Développement">Développement</option>
        <option value="Marketing">Marketing</option>
        <option value="Création">Création</option>
      </select>
    </label>
    <label>
      Avatar du membre:
      <input type="text" [(ngModel)]="newTask.memberAvatar" name="memberAvatar" required>
    </label>
    <label>
      Date de fin:
      <input type="datetime-local" [(ngModel)]="newTask.endDate" name="endDate" required>
    </label>
    <button type="submit">Create Task</button>
  </form>
</div>