<div class="container">
  <div class="search">
    <div class="search-leftBlock">
      <div class="block-logo">
        <img src="./assets/img/imgAcceuil/logo.png" class="logo"/>
      </div>
      <h1>Management Project</h1>
      <div class="input-container">
        <input type="text" placeholder="Search">
      </div>
    </div>
    <div class="search-rightBlock">
      <img src="./assets/img/imgAcceuil/carbon_moon.svg" />
      <img src="./assets/img/imgAcceuil/Add.svg" />
      <img src="./assets/img/imgAcceuil/akar-icons_bell.svg" />
      <span class="barre"></span>
      <img src="./assets/img/imgAcceuil/id1.svg" />
      <p>Stephan C.</p>
    </div>
  </div>
  <section>
    <div class="projects">
      <div class="card">
        <div class="projects-title">
          <h2>Projects</h2>
          <h2>Mai, 4</h2>
        </div>
        <div class="projects-numbers">
          <div class="inProgress">
            <p class="inProgress-number">62</p>
            <p class="inProgress-title">In Progress</p>
          </div>
          <div class="upComing">
            <p class="upComing-number">12</p>
            <p class="upComing-title">Up Comming</p>
          </div>
          <div class="totalProject">
            <p class="totalProject-number">84</p>
            <p class="totalProject-title">Total Project</p>
          </div>
        </div>
        <div class="projects-description">
          <div class="card-project-1 test">
            <p class="project-deadLine">Mai 15, 2023</p>
            <h2 class="project-category">Web-Development</h2>
            <h3 class="project-name">Arti-Agency</h3>
            <div class="project-progress">
              <p>Progress</p>
              <div>
                <div class="progress-bar"></div>
                <div class="progress-bar-percent">60%</div>
              </div>
            </div>
            <div class="day">
              <p>11 Days Left</p>
            </div>
          </div>
          <div class="card-project-2 test">
            <p class="project-deadLine">Mai 15, 2023</p>
            <h2 class="project-category">Web-Development</h2>
            <h3 class="project-name">Arti-Agency</h3>
            <div class="project-progress">
              <p>Progress</p>
              <div>
                <div class="progress-bar"></div>
                <div class="progress-bar-percent">60%</div>
              </div>
            </div>
            <div class="day">
              <p>11 Days Left</p>
            </div>
          </div>
          <div class="card-project-3 test">
            <p class="project-deadLine">Mai 15, 2023</p>
            <h2 class="project-category">Web-Development</h2>
            <h3 class="project-name">Arti-Agency</h3>
            <div class="project-progress">
              <p>Progress</p>
              <div>
                <div class="progress-bar"></div>
                <div class="progress-bar-percent">60%</div>
              </div>
            </div>
            <div class="day">
              <p>11 Days Left</p>
            </div>
          </div>
          <div class="card-project-1 test">
            <p class="project-deadLine">Mai 15, 2023</p>
            <h2 class="project-category">Web-Development</h2>
            <h3 class="project-name">Arti-Agency</h3>
            <div class="project-progress">
              <p>Progress</p>
              <div>
                <div class="progress-bar"></div>
                <div class="progress-bar-percent">60%</div>
              </div>
            </div>
            <div class="day">
              <p>11 Days Left</p>
            </div>
          </div>
          <div class="card-project-2 test">
            <p class="project-deadLine">Mai 15, 2023</p>
            <h2 class="project-category">Web-Development</h2>
            <h3 class="project-name">Arti-Agency</h3>
            <div class="project-progress">
              <p>Progress</p>
              <div>
                <div class="progress-bar"></div>
                <div class="progress-bar-percent">60%</div>
              </div>
            </div>
            <div class="day">
              <p>11 Days Left</p>
            </div>
          </div>
          <div class="card-project-3 test">
            <p class="project-deadLine">Mai 15, 2023</p>
            <h2 class="project-category">Web-Development</h2>
            <h3 class="project-name">Arti-Agency</h3>
            <div class="project-progress">
              <p>Progress</p>
              <div>
                <div class="progress-bar"></div>
                <div class="progress-bar-percent">60%</div>
              </div>
            </div>
            <div class="day">
              <p>11 Days Left</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chat">
      <div class="chat-title">
        <h2>Message</h2>
      </div>
      <div class="chat-msg">
        <div class="discussion">
          <div>
            <img src="./assets/img/imgAcceuil/id1.svg" />
            <p>Stephen</p>
            <img src="./assets/img/imgAcceuil/star.svg" />
          </div>
          <div>
            <p>Hey, can you tell me about progress of
              project? I’m waiting for your response.</p>
          </div>
          <div>
            <p>Mai, 4</p>
          </div>
        </div>
        <div class="discussion">
          <div>
            <img src="./assets/img/imgAcceuil/id1.svg" />
            <p>Stephen</p>
            <img src="./assets/img/imgAcceuil/star.svg" />
          </div>
          <div>
            <p>Hey, can you tell me about progress of
              project? I’m waiting for your response.</p>
          </div>
          <div>
            <p>Mai, 4</p>
          </div>
        </div>
        <div class="discussion">
          <div>
            <img src="./assets/img/imgAcceuil/id1.svg" />
            <p>Stephen</p>
            <img src="./assets/img/imgAcceuil/star.svg" />
          </div>
          <div>
            <p>Hey, can you tell me about progress of
              project? I’m waiting for your response.</p>
          </div>
          <div>
            <p>Mai, 4</p>
          </div>
        </div>
        <div class="discussion">
          <div>
            <img src="./assets/img/imgAcceuil/id1.svg" />
            <p>Stephen</p>
            <img src="./assets/img/imgAcceuil/star.svg" />
          </div>
          <div>
            <p>Hey, can you tell me about progress of
              project? I’m waiting for your response.</p>
          </div>
          <div>
            <p>Mai, 4</p>
          </div>
        </div>
        <div class="discussion">
          <div>
            <img src="./assets/img/imgAcceuil/id1.svg" />
            <p>Stephen</p>
            <img src="./assets/img/imgAcceuil/star.svg" />
          </div>
          <div>
            <p>Hey, can you tell me about progress of
              project? I’m waiting for your response.</p>
          </div>
          <div>
            <p>Mai, 4</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
