<div class="container">
  <div class="presentation-projet">
    <h2 class="client-projet">Client / Projet</h2>
    <select class="secteur">
      <option value="">Secteur</option>
      <option value="Développement">Développement</option>
      <option value="Design">Design</option>
      <option value="Marketing/Communication">Marketing/Communication</option>
      <option value="pub">pub</option>
    </select>
    <select class="type">
      <option value="">Type</option>
      <option value="E-commerce">E-commerce</option>
      <option value="Site Vitrine">Site Vitrine</option>
      <option value="Application mobile">Application mobile</option>
      <option value="Application web">Application web</option>
      <option value="Création Logo">Création Logo</option>
      <option value="Création charte graphique">Création charte graphique</option>
      <option value="Création identité visuelle">Création identité visuelle</option>
      <option value="Stratégie marketing">Stratégie marketing</option>
      <option value="Stratégie communication">Stratégie communication</option>
    </select>
    <h2 class="mission">Mission</h2>
  </div>
  <span class="ligne"></span>
</div>
