<app-menu></app-menu>
<div class="container">
  <div class="hero-section">
    <div class="card-grid">
      <a class="card" (click)="goToProfile('developper')">
        <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1618477388954-7852f32655ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80)"></div>
        <div class="card__content">
          <p class="card__category">Consultants</p>
          <h3 class="card__heading">Développement</h3>
        </div>
      </a>
      <a class="card" (click)="goToProfile('design')">
        <div class="card__background" style="background-image: url(../../assets/img/imgAcceuil/antoine_the_bg.png)"></div>
        <div class="card__content">
          <p class="card__category">Consultants</p>
          <h3 class="card__heading">Création</h3>
        </div>
      </a>
      <a class="card" (click)="goToProfile('marketing')">
        <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1519581706005-e1b7e2de264c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80)"></div>
        <div class="card__content">
          <p class="card__category">Consultants</p>
          <h3 class="card__heading">Marketing</h3>
        </div>
      </a>
    </div>
  </div>
</div>
