<app-menu></app-menu>
<section class="hero">
  <h1>Pôle Marketing</h1>
  <svg class="diagonal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon fill="#fff" points="-0,100 -100,0 100,100"></polygon></svg>
</section>
<section class="service-content">
    <div class="left-content">
      <img src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1630&q=80">
    </div>
    <div class="right-content">
      <h1>Analyse Marketing</h1>
      <p>Nous sommes une équipe passionnée de développement web, dévouée à créer des expériences en ligne exceptionnelles qui allient esthétisme, fonctionnalité et convivialité.</p>
      <a href="/projet">En savoir plus</a>
    </div>
    <svg class="diagonal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon fill="#dcdbdb" points="0,100 100,0 100,100"></polygon></svg>
</section>
<section class="service-content-two">
    <svg class="diagonal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon fill="#fff" points="-0,100 -100,0 100,100"></polygon></svg>
    <div class="right-content">
      <h1>Stratégie Marketing</h1>
      <p>Experts en développement mobile, nous créons des applications innovantes, intuitives et performantes pour répondre à vos besoins spécifiques.</p>
      <a href="/projet" id="hover"><span id="trigger">En savoir plus</span></a>
    </div>
    <div class="left-content">
      <img src="https://images.unsplash.com/photo-1620325867502-221cfb5faa5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1714&q=80">
    </div>
</section>
<section class="service-content">
    <div class="left-content">
      <img src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80">
    </div>
    <div class="right-content">
      <h1>Consulting</h1>
      <p>Nous optimisons votre site web pour un référencement SEO optimal, vous assurant une meilleure visibilité en ligne.</p>
      <a href="/projet" id="hover"><span id="trigger">En savoir plus</span></a>
    </div>
    <svg class="diagonal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon fill="#dcdbdb" points="0,100 100,0 100,100"></polygon></svg>
</section>
<section class="service-content-four">
    <div class="right-content">
      <h1>Relation client</h1>
      <p>Nous sommes une équipe de développement créatif passionnée, dédiée à donner vie à des concepts uniques et innovants. Avec notre expertise technique et notre sens artistique, nous transformons vos idées en expériences numériques captivantes et mémorables.</p>
      <a href="/projet" id="hover"><span id="trigger">En savoir plus</span></a>
    </div>
    <div class="left-content">
      <img src="https://images.unsplash.com/photo-1507537362848-9c7e70b7b5c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80">
    </div>
</section>