*{
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.body {
  height: 100%;
  position: relative;
}

section{
  height: 100vh;
  width: 100%;
}

.container{
  width: 100%;
  height: 100vh;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
}

.images{
  width: 100%;
  height: 110%;
  position: relative;
  z-index: -1;
  top: -10%;
}

.image-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.image-wrapper img{
  width: 100%;
  height: 100%;
}

.blur {
  width: 120%;
  margin-left: -10%;
  height: 250px;
  background-color: #030000;
  position: absolute;
  bottom: -180px;
  filter: blur(40px);
  z-index: 999;
}

.footer-wrapper{
  position: absolute;
  bottom: 0;
  right: 0;
}

ul {
  list-style: none;
  margin-bottom: 20px;
  margin-right: 30px;
}

li {
  display: inline;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  margin-left: 20px;
}

.content {
  height: 100%;
  width: 100%;
  background-color: #030000;
  z-index: 0;
  top: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-images {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.content-image-wrapper {
  height: 220px;
  width: 150px;
  text-align: center;
  position: relative;
}

.content-image-wrapper img{
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.one {
  top: -10px;
}
.two {
  top: -50px;
}
.three {
  top: 20px;
}
.four {
  top: -20px;
}

.content-image-wrapper h4 {
  position: relative;
  opacity: 0.6;
}

.text {
  padding-top: 150px;
  width: 60%;
  font-size: 1.2em;
  text-align: center;
}

#sixth, #fifth, #forth, #third, #second, #first,
.content, .blur, .title, .footer-wrapper,
.one, .two, .three, .four, .text {
  will-change: transform, opacity;
}

h1 {
  color: whitesmoke;
  font-family: 'Exo 2', sans-serif;
  font-size: 46px;
  font-weight: 900;
  text-transform: uppercase;
}

p {
  max-width: 700px;
  min-height: 200px;
  padding: 0;
  color: whitesmoke;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.square {
  height: 60px;
  width: 60px;
  border: 1px dashed white;
  margin: 0 0 0 55px;
  /*   padding: 1px; resize squares */
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  transform: rotateZ(44deg);
}

.square:hover {
  background-color: rgba(27, 182, 239, 0.2);
  transition: ease 0.2s;
  cursor: pointer;
}

.square .icons {
  position: absolute;
  transform: rotateZ(-44deg);
  margin: 20px 0 0px 21px;
}

.fa-facebook,
.fa-twitter,
.fa-dribbbler,
.fa-youtube,
.fa-dribbble {
  width: 11px;
  height: 22px;
  color: white;
  font-family: FontAwesome;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}

.square:hover .fa-facebook {
  color: rgba(59, 89, 152, 1)
}

.square:hover .fa-twitter {
  color: rgba(27, 182, 239, 1)
}

.square:hover .fa-dribbble {
  color: rgba(199, 59, 111, 1)
}

.square:hover .fa-youtube {
  color: rgba(229, 45, 39, 1)
}
.logo{
   margin: 1em;
   position: fixed;
   bottom: -72px;
   z-index: 99999999999;
   right: 0;
}

.pen{
  fill:black;
 animation:rotateInDownLeft 3s forwards;
}
.all{
  animation:rotateOut 3s forwards;
}
@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0,0,0, 0deg);
    opacity: 1;
  }

  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
 transform:translateX(850px) translateY(-83px) rotate3d(0,0,1, -60deg);
    opacity: 1;
  }
}
@keyframes rotateOut {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 1;
  }
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 10%;
}
