<app-loader *ngIf="isLoading"></app-loader>

<app-menu *ngIf="!isLoading"></app-menu>

<div *ngIf="!isLoading" class="body">
  <section id="first-section">
    <div class="container">
      <div class="title">WELCOME TO ARTI AGENCY</div>
      <div class="images">
        <div class="image-wrapper" id="first">
          <img src="./assets/img/imgAcceuil/6.png" />
        </div>
        <div class="image-wrapper" id="second">
          <img src="./assets/img/imgAcceuil/5.png" />
        </div>
        <div class="image-wrapper" id="third">
          <img src="./assets/img/imgAcceuil/4.png" />
        </div>
        <div class="image-wrapper" id="forth">
          <img src="./assets/img/imgAcceuil/3.png" />
        </div>
        <div class="image-wrapper" id="fifth">
          <img src="./assets/img/imgAcceuil/2.png" />
        </div>
        <div class="image-wrapper" id="sixth">
          <img src="./assets/img/imgAcceuil/1.png" />
        </div>
        <div class="blur"></div>
      </div>
      <div class="content">
        <div class="content-wrapper">
          <div class="content-images">
            <div class="content-image-wrapper one">
              <a href="/pole-dev"><img src="./assets/img/imgAcceuil/developpement.jpg" /></a>
              <h4>Développement</h4>
            </div>
            <div class="content-image-wrapper two">
              <a href="/pole-marketing"><img src="./assets/img/imgAcceuil/mobiledev.jpg" /></a>
              <h4>Marketing</h4>
            </div>
            <div class="content-image-wrapper three">
              <a href="/pole-creation"><img src="./assets/img/imgAcceuil/creation.jpg" /></a>
              <h4>Création design</h4>
            </div>
            <div class="content-image-wrapper four">
              <img src="./assets/img/imgAcceuil/logo.jpg" />
              <h4>Consulting</h4>
            </div>
          </div>
          <div class="content-wrapper">
            <br><br><br><br>
            <h1>ABOUT US<br><img src="https://image.ibb.co/nk616F/Layer_1_copy_21.png" width="47" height="11" class="image"></h1>
            <article>
              <p>
                Arty Agency est une agence web spécialisée dans la création de sites
                web personnalisés en travaillant étroitement avec leurs clients pour
                concevoir des designs uniques qui répondent à leurs besoins
                spécifiques. Ils sont passionnés par la direction artistique et
                s'efforcent de faire de chaque projet un chef-d'œuvre. L'agence
                s'engage à fournir un service personnalisé et une expérience client
                exceptionnelle en collaborant avec les clients à chaque étape du
                processus de création de leur site web. Leur objectif est de fournir
                des sites web de qualité professionnelle qui non seulement
                impressionnent visuellement, mais qui offrent également une
                expérience utilisateur conviviale et intuitive pour aider leurs
                clients à atteindre leurs objectifs commerciaux.
              </p>
            </article>
            <div class="social_icons">
              <div class="square">
                <div class="icons">
                  <i class="fab fa-facebook" aria-hidden="true"></i>
                </div>
              </div>
              <div class="square">
                <div class="icons">
                  <i class="fab fa-youtube" aria-hidden="true"></i>
                </div>
              </div>
              <div class="square">
                <div class="icons">
                  <i class="fab fa-twitter" aria-hidden="true"></i>
                </div>
              </div>
              <div class="square">
                <div class="icons">
                  <i class="fab fa-dribbble" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
