<div class="bodyy">
    <div id="project-close" class="closed" #project_close>X</div>
    <div id="project-page" #project_page></div>
    <div id="projects" #projects>
        <div class="project-item" data-index='0' #project_item>
            <div class="project-hero">
                <figure class="project-image"><img src="https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="" /></figure>
                <h2 class="project-title">L'orange Bleu <br> <small>Refonte graphique</small></h2>
            </div>
            <div class="project-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, autem totam! Ea consectetur illo ipsam
                    totam atque esse. Magni labore porro ullam fugiat tenetur sed vitae voluptatibus ut atque! Nostrum!</p>
                <img src='https://images.unsplash.com/photo-1545156521-77bd85671d30?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, autem totam! Ea consectetur illo ipsam
                    totam atque esse. Magni labore porro ullam fugiat tenetur sed vitae voluptatibus ut atque! Nostrum!</p>
                <img src='https://images.unsplash.com/photo-1521673252667-e05da380b252?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, autem totam! Ea consectetur illo ipsam
                    totam atque esse. Magni labore porro ullam fugiat tenetur sed vitae voluptatibus ut atque! Nostrum!</p>
                <img src='https://images.unsplash.com/photo-1536852281373-656571dde83b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60' alt=''>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, autem totam! Ea consectetur illo ipsam
                    totam atque esse. Magni labore porro ullam fugiat tenetur sed vitae voluptatibus ut atque! Nostrum!</p>
            </div>
        </div>
        <div class="project-item" data-index='1' #project_item>
            <div class="project-hero">
                <figure class="project-image"><img src="https://images.unsplash.com/photo-1590102426319-c7526718cd70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="" /></figure>
                <h2 class="project-title">Apple France <br> <small>On est laaaa</small></h2>
            </div>
            <div class="project-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, autem totam! Ea consectetur illo ipsam
                    totam atque esse. Magni labore porro ullam fugiat tenetur sed vitae voluptatibus ut atque! Nostrum!</p>
                <img src='https://images.unsplash.com/photo-1446776899648-aa78eefe8ed0?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, autem totam! Ea consectetur illo ipsam
                    totam atque esse. Magni labore porro ullam fugiat tenetur sed vitae voluptatibus ut atque! Nostrum!</p>
                <img src='https://images.unsplash.com/photo-1581018176856-8357456fedd7?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, autem totam! Ea consectetur illo ipsam
                    totam atque esse. Magni labore porro ullam fugiat tenetur sed vitae voluptatibus ut atque! Nostrum!</p>
                <img src='https://images.unsplash.com/photo-1558723223-0f8c63ea0fed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60' alt=''>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, autem totam! Ea consectetur illo ipsam
                    totam atque esse. Magni labore porro ullam fugiat tenetur sed vitae voluptatibus ut atque! Nostrum!</p>
            </div>
        </div>
        <div class="project-item" data-index='2' #project_item>
            <div class="project-hero">
                <figure class="project-image"><img src="https://images.unsplash.com/photo-1621955964441-c173e01c135b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1772&q=80" alt="" /></figure>
                <h2 class="project-title">Netflix <br> <small>API NetWish</small></h2>
            </div>
            <div class="project-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, autem totam! Ea consectetur illo ipsam
                    totam atque esse. Magni labore porro ullam fugiat tenetur sed vitae voluptatibus ut atque! Nostrum!</p>
                <img src='https://images.unsplash.com/photo-1521228107652-a171fc81bb4f?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, autem totam! Ea consectetur illo ipsam
                    totam atque esse. Magni labore porro ullam fugiat tenetur sed vitae voluptatibus ut atque! Nostrum!</p>
                <img src='https://images.unsplash.com/photo-1518140488212-0390467d1457?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, autem totam! Ea consectetur illo ipsam
                    totam atque esse. Magni labore porro ullam fugiat tenetur sed vitae voluptatibus ut atque! Nostrum!</p>
                <img src='https://images.unsplash.com/photo-1452369692417-d4d77d95bf7f?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, autem totam! Ea consectetur illo ipsam
                    totam atque esse. Magni labore porro ullam fugiat tenetur sed vitae voluptatibus ut atque! Nostrum!</p>
            </div>
        </div>
        <div class="project-item" data-index='3' #project_item>
            <div class="project-hero">
                <figure class="project-image"><img src="https://images.unsplash.com/photo-1592304906658-077cac982ea8?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="" /></figure>
                <h2 class="project-title">Sun <br> <small>subtitle</small></h2>
            </div>
            <div class="project-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, autem totam! Ea consectetur illo ipsam
                    totam atque esse. Magni labore porro ullam fugiat tenetur sed vitae voluptatibus ut atque! Nostrum!</p>
                <img src='https://images.unsplash.com/photo-1559392859-baa3ec94c783?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, autem totam! Ea consectetur illo ipsam
                    totam atque esse. Magni labore porro ullam fugiat tenetur sed vitae voluptatibus ut atque! Nostrum!</p>
                <img src='https://images.unsplash.com/photo-1589691962030-8d2b7f2a1ffe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60' alt=''>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, autem totam! Ea consectetur illo ipsam
                    totam atque esse. Magni labore porro ullam fugiat tenetur sed vitae voluptatibus ut atque! Nostrum!</p>
                <img src='https://images.unsplash.com/photo-1566807387450-b74aea0e727e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60' alt=''>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, autem totam! Ea consectetur illo ipsam
                    totam atque esse. Magni labore porro ullam fugiat tenetur sed vitae voluptatibus ut atque! Nostrum!</p>
            </div>
        </div>
    </div>
    <app-menu></app-menu>
</div>