<section class="web-dev-section">
  <div class="header">
    <img
      src="https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_1280.jpg"
      alt="Image Développement Web"
      class="developpement-web__image"
    />
    <h2 class="developpement-web__title">Développement Web</h2>
    <button class="developpement-web__button">Un site web ?</button>
  </div>
  <div class="presentation">
    <h3 class="presentation__title">Notre agence de développement web</h3>
    <p class="presentation__text">
      Nous sommes une agence de développement web spécialisée dans la création
      de sites web professionnels pour les entreprises. Nous mettons à votre
      disposition une équipe de développeurs talentueux et passionnés pour créer
      un site web qui répondra à vos besoins et qui reflètera l'image de votre
      entreprise.
    </p>
  </div>
  <div class="nos-projets-section">
    <h2 class="nos-projets__title">Nos Projets</h2>
    <div class="nos-projets__gallery">
      <div class="nos-projets__project">
        <img
          src="https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_1280.jpg"
          alt="Projet 1"
          class="nos-projets__image"
        />
        <h3 class="nos-projets__project-title">Projet 1</h3>
      </div>
      <div class="nos-projets__project">
        <img
          src="https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_1280.jpg"
          alt="Projet 2"
          class="nos-projets__image"
        />
        <h3 class="nos-projets__project-title">Projet 2</h3>
      </div>
      <div class="nos-projets__project">
        <img
          src="https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_1280.jpg"
          alt="Projet 3"
          class="nos-projets__image"
        />
        <h3 class="nos-projets__project-title">Projet 3</h3>
      </div>
    </div>
  </div>
  <div class="pourquoi-agence-web-section">
    <h2 class="pourquoi-agence-web__title">
      Pourquoi faire appel à une agence web ?
    </h2>
    <div class="pourquoi-agence-web__content">
      <div class="pourquoi-agence-web__item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 256 256"
          class="pourquoi-agence-web__icon"
        >
          <path
            fill="currentColor"
            d="M71.68 97.22L34.74 128l36.94 30.78a12 12 0 1 1-15.36 18.44l-48-40a12 12 0 0 1 0-18.44l48-40a12 12 0 0 1 15.36 18.44Zm176 21.56l-48-40a12 12 0 1 0-15.36 18.44L221.26 128l-36.94 30.78a12 12 0 1 0 15.36 18.44l48-40a12 12 0 0 0 0-18.44ZM164.1 28.72a12 12 0 0 0-15.38 7.18l-64 176a12 12 0 0 0 7.18 15.37a11.79 11.79 0 0 0 4.1.73a12 12 0 0 0 11.28-7.9l64-176a12 12 0 0 0-7.18-15.38Z"
          />
        </svg>
        <h3 class="pourquoi-agence-web__item-title">Expertise Technique</h3>
        <p class="pourquoi-agence-web__item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
          hendrerit aliquam leo, ut bibendum mauris vulputate ut.
        </p>
      </div>
      <div class="pourquoi-agence-web__item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 256 256"
          class="pourquoi-agence-web__icon"
        >
          <path
            fill="currentColor"
            d="M232 32a8 8 0 0 0-8-8c-44.08 0-89.31 49.71-114.43 82.63A60 60 0 0 0 32 164c0 30.88-19.54 44.73-20.47 45.37A8 8 0 0 0 16 224h76a60 60 0 0 0 57.37-77.57C182.3 121.31 232 76.08 232 32ZM92 208H34.63C41.38 198.41 48 183.92 48 164a44 44 0 1 1 44 44Zm32.42-94.45q5.14-6.66 10.09-12.55A76.23 76.23 0 0 1 155 121.49q-5.9 4.94-12.55 10.09a60.54 60.54 0 0 0-18.03-18.03Zm42.7-2.68a92.57 92.57 0 0 0-22-22c31.78-34.53 55.75-45 69.9-47.91c-2.85 14.16-13.37 38.13-47.9 69.91Z"
          />
        </svg>
        <h3 class="pourquoi-agence-web__item-title">Design Professionnel</h3>
        <p class="pourquoi-agence-web__item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
          hendrerit aliquam leo, ut bibendum mauris vulputate ut.
        </p>
      </div>
      <div class="pourquoi-agence-web__item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          class="pourquoi-agence-web__icon"
        >
          <path
            fill="currentColor"
            d="m16 11.78l4.24-7.33l1.73 1l-5.23 9.05l-6.51-3.75L5.46 19H22v2H2V3h2v14.54L9.5 8l6.5 3.78Z"
          />
        </svg>
        <h3 class="pourquoi-agence-web__item-title">Optimisation SEO</h3>
        <p class="pourquoi-agence-web__item-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
          hendrerit aliquam leo, ut bibendum mauris vulputate ut.
        </p>
      </div>
    </div>
  </div>
</section>
