<!-- Contenu de la page -->
<div class="hero-section">
    <div class="card-grid">
        <a class="card" (click)="openModal('developpement')">
            <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1618477388954-7852f32655ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80)"></div>
            <div class="card__content">
              <p class="card__category">Consultants</p>
              <h3 class="card__heading">Développement</h3>
            </div>
          </a>
          <div #modalDeveloppement class="modal">
            <div class="modal__content">
              <h2>Développement</h2>
              <p>Contenu du modal pour la catégorie Développement.</p>
              <button class="modal__close-btn" (click)="closeModal('developpement')">&times;</button>
            </div>
          </div>
          <a class="card" (click)="openModal('creation')">
            <div class="card__background" style="background-image: url(../../assets/img/imgAcceuil/antoine_the_bg.png)"></div>
            <div class="card__content">
              <p class="card__category">Consultants</p>
              <h3 class="card__heading">Création</h3>
            </div>
          </a>
          <div #modalCreation class="modal">
            <div class="modal__content">
              <h2>Création</h2>
              <p>Contenu du modal pour la catégorie Création.</p>
              <button class="modal__close-btn" (click)="closeModal('creation')">&times;</button>
            </div>
            </div>
            <a class="card" (click)="openModal('marketing')">
                <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1618477388954-7852f32655ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80)"></div>
                <div class="card__content">
                  <p class="card__category">Consultants</p>
                  <h3 class="card__heading">Marketing</h3>
                </div>
              </a>
              <div #modalMarketing class="modal">
                <div class="modal__content">
                  <h2>Marketing</h2>
                  <p>Contenu du modal pour la catégorie Marketing.</p>
                  <button class="modal__close-btn" (click)="closeModal('marketing')">&times;</button>
                </div>
              </div>
        </div>
  </div>